<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :url %>
  <%= f.input :name %>
  <%= f.input :source %>
  <%= f.input :note %>
  <%= f.button :submit %>
<% end %>